__pycache__/
logs
checkpoints
*.ipynb
*.csv

result/
result/*.pkl
result/

data/data/
data/MNIST/
data/MNIST_Combo/
data/MNIST_CSKD/
data/MNIST_MIXUP/
data/CIFAR10/
data/MNIST_SLDenoise/
data/*.pth

exp_logs/
logs/
figures/

baselines/figures/

data/cifar-10-batches-py/
data/cifar-10-python.tar.gz

debug/
/baselines/data

iterative_fig/
